/*

Comparto TemplateMo

https://templatemo.com/tm-544-comparto


Color Codes
------------
Purple: #9999CC
Pink: #CC9999
Grey: #666666
Sky Blue: #99CCFF
Green: #99CC99
Light Grey: #F2F2F2
Text Color: #666

*/

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

ul, h1, h2, h3, h4, p, figure {
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
}

h2 { font-size: 1.5rem; }

a { 
    transition: all 0.3s ease; 
    text-decoration: none;
}

a:hover { text-decoration: none; }
button:focus { outline: none; }
p { 
  color: #666;
  line-height: 1.7; 
  margin-bottom: 35px;
}

h1, h2, h3, h4, h5, h6 { color: #333; }

.container-fluid {
    max-width: 1210px;
    margin-left: auto;
    margin-right: auto;
}

.link-mouse-pointer-like-btn {
  cursor:pointer;
}

/* TABLE */

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.table--header {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-size: 16px;
  height: 50px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: center;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table input[type="submit"]{
  width: 50%;
  padding: 1%;
  background: #009879;
  border-bottom: 2px solid #30C29E;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}

.styled-table input[type="text"],
.styled-table input[type="password"] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}

.styled-table p {
  margin-bottom: 4%;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}

.updateAndDelete a {
  text-decoration: none;
  color: #0fb88b;
  font-weight: bold;
}

.updateAndDelete a:hover {
  color: #009879;
}

.tm-mb-0 { margin-bottom: 0; }
.tm-mb-1 { margin-bottom: 20px; }
.tm-mb-2 { margin-bottom: 40px; }
.tm-mb-3 { margin-bottom: 60px; }
.tm-mb-4 { margin-bottom: 30px; }
.tm-bg-color-1 { background-color: #9999CC; }
.tm-bg-color-2 { background-color: #CC9999; }
.tm-bg-color-3 { background-color: #666666; }
.tm-bg-color-4 { background-color: #99CCFF; }
.tm-bg-color-5 { background-color: #99CC99; }
.tm-bg-color-6 { background-color: #F2F2F2; }
.tm-bg-color-7 { background-color: #DDD; }
.tm-bg-color-8 { background-color: #EDEEEF; } /* Nav background */
.tm-bg-color-white { background-color: white; }
.tm-text-color-1 { color: #666; }
.tm-text-color-2 { color: #333; }
.tm-text-white { color: #fff; }
.text-center { text-align: center; }

.tm-site-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 210px;
}

.tm-site-name-container {
    width: 29.752%;
    min-width: 300px;
    margin-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform:uppercase;
}

.tm-nav-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 68.595%;
  height: 100%;
  padding: 20px;
}

.tm-nav-item {
  list-style: none;
  display: inline-block;
  width: 145px;
  height: 145px;
  margin-right: 15px;
  background-color: white;
}

.tm-nav-item:last-child {
  margin-right: 0;
}

@media (max-width: 899px) {
  .tm-site-header {
    height: auto;
    flex-direction: column;
  }
  .tm-site-name-container,
  .tm-nav-container {
    width: 100%;
  }

  .tm-site-name-container {
    margin-right: 0;
    padding:50px;
  }
}

@media (max-width: 600px) {
  .tm-nav-item { margin: 10px; }
  .tm-nav-item:last-child { margin-right: 10px; }

  .tm-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.tm-nav-link {
  color: #666;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25%;
  font-size: 1.2rem;
}

.tm-nav-item.current .tm-nav-link,
.tm-nav-link:hover {
  color: white;
  background-color: #CC9999;
}

@media (max-width: 1033px) {
  .tm-nav-item {
    width: 120px;
    height: 120px;
  }

  .tm-nav-link { padding-left: 20px; }
}

.tm-img-responsive {
  max-width: 100%;
  height: auto;
}

.tm-section-1-l {
  width: 57.85%;
  margin-right: 1.65%;
}

.tm-section-1-r {
  padding: 50px 40px;
  width: 40.5%;
}

.tm-row { display: flex; }

.tm-btn {
  display: inline-block;
  padding: 15px 40px;
  font-size: 1.1rem;
  border: none;
  background-color: #CC9999;
  color: white;
}

.tm-btn:hover {
  color: white;
  background-color: #875959;
}

.tm-social-row { padding: 70px; }
.tm-icon { width: 33.3334%; }

.tm-icon-inner {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tm-icon-inner > a > * { color: white; }
.tm-icon-inner h3 { line-height: 1.7; }

.tm-section-2-l {
  width: 40.5%;
  margin-right: 1.65%;
}

.tm-section-2-r { width: 57.85%; }
.tm-box-pad { padding: 40px 50px; }

.tm-em-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 60px 45px;
}

.tm-em-box p {
  font-style: italic;
  line-height: 2;
  max-width: 370px;  
}

.tm-btn-2 { background-color: #666768; }

.tm-btn-2:hover {
  color: white;
  background-color: #989A9B;
}

.tm-btn-3 { background-color: #99CC99; }
.tm-btn-3:hover { background-color: #547d54; }

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

/* Gallery */
.tm-gallery-header { padding: 40px 40px 30px; }
.text-right { text-align: right; }

.tm-gallery-filter {
  text-align: center;
  list-style: none;
}

.tm-gallery-filter > li { display: inline-block; }

.tm-gallery-filter > li > a {
  display: block;
  margin: 5px;
  color: #333;
}

.tm-gallery-filter > li > a.active,
.tm-gallery-filter > li > a:hover {
  color: #fff;
}

.tm-gallery-section { padding-bottom: 40px; }

.tm-gallery-outer {
  margin-left: -10px;
  margin-right: -10px;
  background-color: white;
}

.tm-gallery {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto 0;  
  max-width: 1225px;  
}

.tm-gallery-item { 
  padding: 10px; 
  width: 20%;
}

@media (max-width: 1200px) {
  .tm-gallery { max-width: 1200px; }
  .tm-gallery-item {
    width: 25%;    
  }
}

/* 
  Gallery Item Hover Effect
  https://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/
*/

/* Common style */
.tm-gallery-item figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin-bottom: 0;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.tm-gallery-item figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.tm-gallery-item figure figcaption {
  padding: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tm-gallery-item figure figcaption::before,
.tm-gallery-item figure figcaption::after {
  pointer-events: none;
}

.tm-gallery-item figure figcaption,
.tm-gallery-item figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.tm-gallery-item figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.tm-gallery-item figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  color: white;
}

.tm-gallery-item figure h2 span {
  font-weight: 800;
}

.tm-gallery-item figure h2,
.tm-gallery-item figure p {
  margin: 0;
}

.tm-gallery-item figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba { background: #9e5406; }

figure.effect-bubba img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-bubba:hover img { opacity: 0.4; }

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

figure.effect-bubba h2 {
  font-size: 1.5rem;
  padding-top: 20%;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

figure.effect-bubba p {
  color: white;
  width: 100%;
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (max-width: 900px) {
  .tm-gallery { max-width: 900px; }
  .tm-gallery-item { width: 33.3334%; }
}

@media (max-width: 620px) {
  .tm-gallery { max-width: 600px; }
  .tm-gallery-item { width: 50%; }
}

@media (max-width: 400px) {
  .tm-gallery { max-width: 280px; }
  .tm-gallery-item { width: 100%; }
}

/* Contact */
.tm-contact-title {
  padding-top: 55px;
  padding-bottom: 60px;
  text-align: center;
}

#contact { padding-bottom: 40px; }

.tm-contact-main {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.map-outer {
  position:relative;
  text-align:right;
  min-height:400px; 
  width:35%; 
  height: 100%;
  padding-right: 10px;
}

.gmap-canvas {
  overflow:hidden;
  background:none!important;
  min-height:400px;
  width:100%;
}

.contact-form-outer { width: 37%; }
.contact-info-outer { width: 28%; }

.contact-form-outer {
  padding-left: 10px;
  padding-right: 10px;
}

.contact-info-outer { padding-left: 10px; }

.contact-info {
  padding: 45px 40px;  
  height: 100%;
}

#contact-form {
  /*height: 100%; Commented because the register form was going over the banner*/
  padding: 35px 65px;
}

@media (max-width: 440px) {
  #contact-form { padding: 35px; }
}

.form-group { margin-bottom: 25px; }

.form-control {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #999A9B;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ml-auto {
  margin-left: auto;
  display: block;
}

a { color: #666; }
a:hover { color: #CC9999; }
button:hover { cursor: pointer; }

.tm-social-link {
  width: 40px;
  height: 40px;
  background-color: #DDD;
  display: inline-block;
  margin: 8px;
}

.tm-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .tm-section-1-l,
  .tm-section-1-r,
  .tm-section-2-l,
  .tm-section-2-r {
    width: 100%;
  }

  .tm-section-1-l {
    margin-bottom: 20px;
    margin-right: 0;
    text-align: center;
  }

  .tm-section-2-l { margin-bottom: 20px; }
  .tm-section-2-r { text-align: center; }

  .tm-section-1-r,
  .tm-section-2-l {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-about-row,
  .tm-services-row {
    flex-direction: column;
  }

  .tm-social-row { padding: 70px 30px; }
}

@media (max-width: 800px) {
  .tm-social-row { flex-direction: column; }
  .tm-icon { width: 100%; }
  .tm-icon-inner { padding: 30px; }
}

@media (min-width: 1240px) {
  .tm-section-1-r { max-height: 700px; }
}

@media (max-width: 1145px) {
  .map-outer,
  .contact-form-outer,
  .contact-info-outer {
    width: 100%;  
    padding: 0;  
  }

  .map-outer,
  .contact-form-outer { margin-bottom: 20px; }

  .tm-contact-main { flex-direction: column; }
}

/* https://codepen.io/matthewcain/pen/ZepbeR */
#button {
  padding-top: 1px;
  display: inline-block;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active { background-color: #555; }
#button.show {
  opacity: 1;
  visibility: visible;
}

:root {
  --blue: #5e72e4;
  --indigo: #5603ad;
  --purple: #8965e0;
  --pink: #f3a4b5;
  --red: #f5365c;
  --orange: #fb6340;
  --yellow: #ffd600;
  --green: #2dce89;
  --teal: #11cdef;
  --cyan: #2bffc6;
  --white: #fff;
  --gray: #8898aa;
  --gray-dark: #32325d;
  --light: #ced4da;
  --lighter: #e9ecef;
  --primary: #5e72e4;
  --secondary: #f7fafc;
  --success: #2dce89;
  --info: #11cdef;
  --warning: #fb6340;
  --danger: #f5365c;
  --light: #adb5bd;
  --dark: #212529;
  --default: #172b4d;
  --white: #fff;
  --neutral: #fff;
  --darker: black;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: Open Sans, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

figcaption,
footer,
header,
main,
nav,
section {
  display: block;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  color: #525f7f;
  background-color: #f8f9fe;
}

[tabindex='-1']:focus {
  outline: 0 !important;
}

h2,
h5 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dfn {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: #5e72e4;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
  color: #233dd2;
}

a:not([href]):not([tabindex]) {
  text-decoration: none;
  color: inherit;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  text-decoration: none;
  color: inherit;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

caption {
  padding-top: 1rem;
  padding-bottom: 1rem;
  caption-side: bottom;
  text-align: left;
  color: #8898aa;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox;
}

legend {
  font-size: 1.5rem;
  line-height: inherit;
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: .5rem;
  padding: 0;
  white-space: normal;
  color: inherit;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[hidden] {
  display: none !important;
}

h2,
h5,
.h2,
.h5 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: .5rem;
  color: #32325d;
}

h2,
.h2 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: .8125rem;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
}

.col,
.col-auto,
.col-lg-6,
.col-xl-3,
.col-xl-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  max-width: 100%;
  flex-basis: 0;
  flex-grow: 1;
}

.col-auto {
  width: auto;
  max-width: none;
  flex: 0 0 auto;
}

@media (min-width: 992px) {
  .col-lg-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (min-width: 1200px) {
  .col-xl-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
  .col-xl-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: .375rem;
  background-color: #fff;
  background-clip: border-box;
}

.card-body {
  padding: 1.5rem;
  flex: 1 1 auto;
}

.card-title {
  margin-bottom: 1.25rem;
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

.bg-info {
  background-color: #11cdef !important;
}

a.bg-info:hover,
a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #0da5c0 !important;
}

.bg-warning {
  background-color: #fb6340 !important;
}

a.bg-warning:hover,
a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #fa3a0e !important;
}

.bg-danger {
  background-color: #f5365c !important;
}

a.bg-danger:hover,
a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #ec0c38 !important;
}

.bg-default {
  background-color: #172b4d !important;
}

a.bg-default:hover,
a.bg-default:focus,
button.bg-default:hover,
button.bg-default:focus {
  background-color: #0b1526 !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.align-items-center {
  align-items: center !important;
}

@media (min-width: 1200px) {
  .justify-content-xl-between {
    justify-content: space-between !important;
  }
}

.shadow {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mr-2 {
  margin-right: .5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

.m-auto {
  margin: auto !important;
}

@media (min-width: 768px) {
  .pt-md-8 {
    padding-top: 8rem !important;
  }
}

@media (min-width: 1200px) {
  .mb-xl-0 {
    margin-bottom: 0 !important;
  }
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.font-weight-bold {
  font-weight: 600 !important;
}

.text-white {
  color: #fff !important;
}

.text-success {
  color: #2dce89 !important;
}

a.text-success:hover,
a.text-success:focus {
  color: #24a46d !important;
}

.text-warning {
  color: #fb6340 !important;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #fa3a0e !important;
}

.text-danger {
  color: #f5365c !important;
}

a.text-danger:hover,
a.text-danger:focus {
  color: #ec0c38 !important;
}

.text-white {
  color: #fff !important;
}

a.text-white:hover,
a.text-white:focus {
  color: #e6e6e6 !important;
}

.text-muted {
  color: #8898aa !important;
}


figcaption,
main {
  display: block;
}

main {
  overflow: hidden;
}

.bg-yellow {
  background-color: #ffd600 !important;
}

a.bg-yellow:hover,
a.bg-yellow:focus,
button.bg-yellow:hover,
button.bg-yellow:focus {
  background-color: #ccab00 !important;
}

.bg-gradient-primary {
  background-color: #F2F2F2 !important;
}

.bg-gradient-primary {
  background-color: #F2F2F2 !important;
}

@keyframes floating-lg {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floating-sm {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

[class*='shadow'] {
  transition: all .15s ease;
}

.text-sm {
  font-size: .875rem !important;
}

.text-white {
  color: #000 !important;
}

a.text-white:hover,
a.text-white:focus {
  color: #e6e6e6 !important;
}

[class*='btn-outline-'] {
  border-width: 1px;
}

.card-stats .card-body {
  padding: 1rem 1.5rem;
}

.main-content {
  position: relative;
}

@media (min-width: 768px) {
  .main-content .container-fluid {
    padding-right: 39px !important;
    padding-left: 39px !important;
  }
}

.footer {
  padding: 2.5rem 0;
  background: #f7fafc;
}

.footer .copyright {
  font-size: .875rem;
}

.header {
  position: relative;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.icon i {
  font-size: 2.25rem;
}

.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.icon-shape i {
  font-size: 1.25rem;
}

@keyframes hide-navbar-dropdown {
  from {
    opacity: 1;
  }
  to {
    transform: translate(0, 10px);
    opacity: 0;
  }
}


@keyframes show-navbar-collapse {
  0% {
    transform: scale(.95);
    transform-origin: 100% 0;
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hide-navbar-collapse {
  from {
    transform: scale(1);
    transform-origin: 100% 0;
    opacity: 1;
  }
  to {
    transform: scale(.95);
    opacity: 0;
  }
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}

