<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/css/templatemo-comparto.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">
    <title>Comparto HTML CSS Template</title>
<!--

Comparto TemplateMo

https://templatemo.com/tm-544-comparto

-->
</head>

<body>
    <!-- Back to top button -->

        <section id="contact" class="tm-bg-color-5 tm-mb-3">
            <h2 class="tm-text-white tm-contact-title" th:text="${'Welcome - ' + userLoggedIn.firstName}"></h2>
            <div class="tm-bg-color-white tm-contact-main">
                <div class="map-outer">
                    <div class="gmap-canvas">
                        <img src="/img/comparto-image-02.jpg">
                    </div>
                </div>
                <div class="contact-form-outer" sec:authorize="hasAnyRole('ROLE_USER','ROLE_SUPERUSER')">
                    <ul>
                        <li th:each="error : ${#fields.errors('ticket.*')}" th:text="${error}" />
                    </ul>
                    <ul>
                        <li th:if="${!#strings.isEmpty(message)}" th:text="${message}"/>
                    </ul>
                    <form th:object="${ticket}" id="contact-form" th:action="@{/saveTicket}" method="POST" class="tm-bg-color-6 tm-contact-form">
                        <div class="form-group">
                            <input th:field="*{subject}" type="text" name="name" class="form-control" placeholder="Subject"/>
                        </div>
                        <div class="form-group">
                            <textarea th:field="*{message}" rows="4" name="message" class="form-control" placeholder="Message..."
                                      required=""></textarea>
                        </div>
                        <div class="form-group">
                            <p>Priority: </p>
                            <select th:field="*{priority}" class="form-control">
                                <option th:each="status : ${priorityList}"
                                        th:value="${status}"
                                        th:text="${status}">
                                </option>
                            </select>
                        </div>
                        <div class="tm-site-header">
                            <button type="submit" class="ml-auto tm-btn tm-btn-3">
                                Send
                            </button>
                        </div>
                    </form>
                </div>
                <div class="contact-form-outer" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
                    <div class="main-content bg-default">
                        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
                            <div class="container-fluid">
                                <h2 class="mb-5 text-">Stats Card</h2>
                                <div class="header-body">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-6">
                                            <div class="card card-stats mb-4 mb-xl-0">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title text-uppercase text-muted mb-0">Open Tickets</h5>
                                                            <span class="h2 font-weight-bold mb-0" th:text="${statistics.openTickets}"></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-6">
                                            <div class="card card-stats mb-4 mb-xl-0">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title text-uppercase text-muted mb-0">Assigned Tickets</h5>
                                                            <span class="h2 font-weight-bold mb-0" th:text="${statistics.assignedTickets}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-6">
                                            <div class="card card-stats mb-4 mb-xl-0">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title text-uppercase text-muted mb-0">Total Tickets</h5>
                                                            <span class="h2 font-weight-bold mb-0" th:text="${statistics.allTickets}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-6">
                                            <div class="card card-stats mb-4 mb-xl-0">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title text-uppercase text-muted mb-0">Total Users</h5>
                                                            <span class="h2 font-weight-bold mb-0" th:text="${statistics.totalUsers}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page content -->
                    </div>
                </div>
                <div class="contact-info-outer">
                    <div class="tm-bg-color-6 contact-info">
                        <div>
                        <a th:href="@{/listTickets/1?list=created}" class="ml-auto tm-btn tm-btn-3 link-mouse-pointer-like-btn" sec:authorize="hasAnyRole('ROLE_USER','ROLE_SUPERUSER')">Created Tickets</a>
                        <a th:href="@{/listTickets/1?list=assigned}" class="ml-auto tm-btn tm-btn-3 link-mouse-pointer-like-btn" sec:authorize="hasAnyRole('ROLE_USER','ROLE_SUPERUSER')">Assigned Tickets</a>
                        <a th:href="@{/listTickets/1?list=department}" class="ml-auto tm-btn tm-btn-3 link-mouse-pointer-like-btn" sec:authorize="hasRole('ROLE_SUPERUSER')">Department Tickets</a>
                        <a th:href="@{/listTickets/1?list=admin}" class="ml-auto tm-btn tm-btn-3 link-mouse-pointer-like-btn" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">Ticket Detail</a>
                        <a th:href="@{/listSuperUsers}" class="ml-auto tm-btn tm-btn-3 link-mouse-pointer-like-btn" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">Assign SuperUser</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="text-center tm-mb-1">
            <a th:href="@{/public/logout}">Logout</a>
            <p>Copyright &copy; 2020 Comparto Studio

            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
        </footer>
    </div> <!-- .container -->
    <script src="js/jquery.min.js"></script> <!-- https://jquery.com/download/ -->
    <script src="js/imagesloaded.pkgd.min.js"></script> <!-- https://imagesloaded.desandro.com/ -->
    <script src="js/isotope.pkgd.min.js"></script> <!-- https://isotope.metafizzy.co/ -->
    <script src="js/jquery.singlePageNav.min.js"></script> <!-- https://github.com/ChrisWojcik/single-page-nav -->
    <script>

        // DOM is ready
        $(function () {
            // Single Page Nav
            $('#tm-nav').singlePageNav({ speed: 600 });

            // Smooth Scroll (https://css-tricks.com/snippets/jquery/smooth-scrolling/)
            $('a[href*="#"]')
                // Remove links that don't actually link to anything
                .not('[href="#"]')
                .not('[href="#0"]')
                .click(function (event) {
                    // On-page links
                    if (
                        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                        &&
                        location.hostname == this.hostname
                    ) {
                        // Figure out element to scroll to
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        // Does a scroll target exist?
                        if (target.length) {
                            // Only prevent default if animation is actually gonna happen
                            event.preventDefault();
                            $('html, body').animate({
                                scrollTop: target.offset().top
                            }, 600, function () {
                                // Callback after animation
                                // Must change focus!
                                var $target = $(target);
                                $target.focus();
                                if ($target.is(":focus")) { // Checking if the target was focused
                                    return false;
                                } else {
                                    $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                    $target.focus(); // Set focus again
                                };
                            });
                        }
                    }
                });

            /* Isotope Gallery */

            // init isotope
            var $gallery = $(".tm-gallery").isotope({
                itemSelector: ".tm-gallery-item",
                layoutMode: "fitRows"
            });
            // layout Isotope after each image loads
            $gallery.imagesLoaded().progress(function () {
                $gallery.isotope("layout");
            });

            $(".filters-button-group").on("click", "a", function () {
                var filterValue = $(this).attr("data-filter");
                $gallery.isotope({ filter: filterValue });
            });

            $(".tabgroup > div").hide();
            $(".tabgroup > div:first-of-type").show();
            $(".tabs a").click(function (e) {
                e.preventDefault();
                var $this = $(this),
                    tabgroup = "#" + $this.parents(".tabs").data("tabgroup"),
                    others = $this
                        .closest("li")
                        .siblings()
                        .children("a"),
                    target = $this.attr("href");
                others.removeClass("active");
                $this.addClass("active");
            });
        });
    </script>
</body>
</html>